<div class="content">
  <div class="content-row">
    <h3 class="content__title">Remove ingredients</h3>
  </div>
  <div *ngFor="let ingredient of ingredients" class="content-row">
    <div class="ingredient-item">
      <span class="ingredient-item__title">
        {{ ingredient }}
      </span>
      <span class="oi oi-x"></span>
    </div>
  </div>
  <div class="content-row">
    <div class="ingredient-item__add-button">
      <span class="oi oi-plus"></span>
      Add ingredients
    </div>
  </div>
  <div class="content-row">
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>Choose...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="content-row buttons-row">
    <button class="cancel-button" (click)="closeModal()">
      Cancel
    </button>
    <add-button></add-button>
  </div>
</div>
<div class="container"></div>
