.add_button__container
  background-color: red
  border-color: red
  &:active
    background-color: red !important
    border-color: red !important
  &:focus
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5) !important
