<div class="card container">
  <span class="oi oi-cart cart-icon"></span>
  <div class="card-body">
    <div class="row justify-content-between cart-heading">
      <div>
        <span>Cart </span><span>({{ itemsAmount }})</span>
        <span class="oi oi-caret-bottom"></span>
        <!-- <span class="oi oi-caret-top"></span> -->
      </div>
      <button class="clear-order-button">Clear</button>
    </div>
    <div class="row items-container">
      <div *ngFor="let orderItem of orderedPizzaItems" class="order-item">
        <div class="order-item-section">
          <span class="oi oi-x order-item-remove-icon"></span>
          <img
            class="order-item-picture"
            src="{{ orderItem.pizzaDetails.pictureUrl }}"
            alt="{{ orderItem.pizzaDetails.title }}"
          />
          <div class="order-item-description">
            <span>{{ orderItem.pizzaDetails.title }}</span>
            <span
              >{{ orderItem.thickness }} crust,
              {{ orderItem.diameter }} cm</span
            >
            <div
              class="element__excluded"
              *ngFor="let excluded of orderItem.excludedIngredients"
            >
              <span class="oi oi-minus"></span> {{ excluded }}
            </div>
            <div
              class="element__included"
              *ngFor="let included of orderItem.customIngredients"
            >
              <span class="oi oi-plus"></span> {{ included }}
            </div>
            <div *ngIf="orderItem.cheeseBoard" class="cheese-board-icon">
              Cheese board
            </div>
          </div>
        </div>
        <div
          class="justify-content-between align-items-center order-item-section"
        >
          <div class="order-item-controller">
            <button disabled class="controller-decrease">
              <span class="oi oi-minus"></span>
            </button>
            <span>{{ orderItem.amount }}</span>
            <button class="controller-increase">
              <span class="oi oi-plus"></span>
            </button>
          </div>
          <span class="order-item-price">{{
            orderItem.price | currency: 'USD':true
          }}</span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <main-button [text]="'ORDER NOW'" [link]="'/checkout'"></main-button>
    </div>
  </div>
</div>
