<div class="card container">
  <span class="oi oi-cart cart-icon"></span>
  <div class="card-body">
    <div class="row justify-content-between cart-heading">
      <div>
        <span>Cart </span><span>({{ orderedPizzaItems.length }})</span>
        <span class="oi oi-caret-bottom"></span>
      </div>
      <button (click)="clearCart()" class="clear-order-button">Clear</button>
    </div>
    <div class="row items-container">
      <div *ngIf="orderedPizzaItems.length === 0; else itemsList">
        No items in the cart
      </div>
      <ng-template #itemsList>
        <div *ngFor="let orderItem of orderedPizzaItems" class="order-item">
          <div class="order-item-section">
            <span class="oi oi-x order-item-remove-icon"></span>
            <img
              class="order-item-picture"
              src="{{ orderItem.pizzaDetails.pictureUrl }}"
              alt="{{ orderItem.pizzaDetails.title }}"
            />
            <div class="order-item-description">
              <span>{{ orderItem.pizzaDetails.title }}</span>
              <span
                >{{ orderItem.thickness }} crust,
                {{ orderItem.diameter }} cm</span
              >
              <div
                class="element__excluded"
                *ngFor="let excluded of orderItem.excludedIngredients"
              >
                <span class="oi oi-minus"></span> {{ excluded }}
              </div>
              <div
                class="element__included"
                *ngFor="let included of orderItem.customIngredients"
              >
                <span class="oi oi-plus"></span> {{ included }}
              </div>
              <div *ngIf="orderItem.cheeseBoard" class="cheese-board-icon">
                Cheese board
              </div>
            </div>
          </div>
          <div
            class="justify-content-between align-items-center order-item-section"
          >
            <div class="order-item-controller">
              <button disabled class="controller-decrease">
                <span class="oi oi-minus"></span>
              </button>
              <span>{{ orderItem.amount }}</span>
              <button class="controller-increase">
                <span class="oi oi-plus"></span>
              </button>
            </div>
            <span class="order-item-price">{{
              orderItem.price | currency: 'USD':true
            }}</span>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="row order-total-price">
      Total price: {{ totalPrice | currency: 'USD':true }}
    </div>
    <div class="row justify-content-center">
      <main-button
        [text]="'ORDER NOW'"
        [link]="'/checkout'"
        [isDisabled]="orderedPizzaItems.length === 0"
      ></main-button>
    </div>
  </div>
</div>
