<div class="card container">
  <span class="oi oi-cart cart-icon"></span>
  <div class="card-body">
    <div class="row justify-content-between cart-heading">
      <div>
        <span>Cart </span><span>({{ itemsAmount }})</span>
        <span class="oi oi-caret-bottom"></span>
        <!-- <span class="oi oi-caret-top"></span> -->
      </div>
      <button class="clear-order-button">Clear</button>
    </div>
    <div class="row">
      Item 1
    </div>
    <div class="row">
      Item 2
    </div>
    <div class="row">
      Total
    </div>
    <div class="row justify-content-center">
      <main-button [text]="'ORDER NOW'"></main-button>
    </div>
  </div>
</div>
