<main class="main-container">
  <div class="card-container">
    <div class="card">
      <div class="card-body pizza-card">
        <div>
          <img
            class="pizza-picture"
            src="{{ pizzaItem.pictureUrl }}"
            alt="{{ pizzaItem.title }}"
          />
        </div>
        <div class="pizza-description__container">
          <h1>{{ pizzaItem.title }}</h1>
          <div class="pizza-description__ingredients">
            {{ pizzaItem.description }}
          </div>
          <div class="nutrition-heading">Nutrition information per 100g</div>
          <div class="nutrition-list">
            <span
              class="nutrition-item"
              *ngFor="let energyItemKey of pizzaItem.energyValue | keys"
              >{{ energyItemKey }} -
              {{ pizzaItem.energyValue[energyItemKey] }}</span
            >
          </div>
          <div class="narrow-row__container">
            <radio-group-button
              class="radio-group__thickness"
              [options]="thicknessOptions"
              [value]="thicknessSelected"
              (changeEvent)="changeThickness($event)"
            ></radio-group-button>
          </div>
          <div class="narrow-row__container radio-group__diameter">
            <radio-group-button
              [options]="diameterOptions"
              [value]="diameterSelected.toString()"
              (changeEvent)="changeDiameter($event)"
            ></radio-group-button>
            <radio-button
              *ngIf="displayCheeseBoard"
              (click)="toggleCheeseBoard()"
              [isSelected]="withCheeseBoard"
            ></radio-button>
          </div>
          <div class="narrow-row__container">
            <div class="d-flex justify-content-between">
              <main-button
                class="main-button__customized"
                [text]="'ADD TO CART'"
              ></main-button>
              <span class="total-price">{{
                pizzaPrice | currency: 'USD':true
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <shopping-cart-card></shopping-cart-card>
</main>
