$text-color: #5C3D45
$grey-color: #A9A9A9
  
.main-container
  display: grid
  grid-template-columns: 3fr 1fr
  margin: 1rem 2rem

.card
  max-width: 600px
  margin: 2rem auto

.pizza-card
  display: flex
  padding: 1rem

.pizza-picture
  width: 200px
  margin-right: 1rem

.pizza-description__container
  & h1
    font-size: 1.6rem
    font-weight: bold
    color: $text-color

.pizza-description__ingredients
  color: $text-color
  font-size: 0.9rem

.nutrition-heading
  font-size: 0.8rem
  margin: 0.2rem 0

.nutrition-list
  display: flex
  flex-wrap: wrap
  margin-bottom: 1rem
  font-size: 0.9rem

.nutrition-item
  width: 100%
  color: $grey-color
  text-transform: capitalize

.narrow-row__container
  width: 65%
  display: flex
  align-items: center
  justify-content: space-between

.radio-group__thickness
  width: 100%
  margin-right: 0.5rem

.radio-group__diameter
  display: flex
  margin: 1rem 0
  & :first-child
    flex: 1
    justify-content: space-between
    margin-right: 0.5rem

.main-button__customized
  margin-right: 1rem

.total-price
  flex: 1
  display: flex
  justify-content: flex-end
  align-items: center
  font-size: 1.2rem
  font-weight: bold
  color: $text-color