$text-color: #5C3D45
$text-grey-color: #696C6D

.card
  margin-bottom: 1rem

.card-title
  font-size: 1rem
  font-weight: bold
  color: $text-color

.form-row
  margin-bottom: 0.5rem

.input-full-width
  width: 100%

.form-control__label
  font-size: 0.9rem
  color: $text-grey-color

.radio-item
  margin-right: 1rem
