<form #checkoutForm="ngForm">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Contact information</h2>
      <div class="form-row">
        <div class="col">
          <mat-form-field class="input-full-width">
            <input
              matInput
              placeholder="Name"
              [formControl]="nameFormControl"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="nameFormControl.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="input-full-width">
            <input
              matInput
              placeholder="Telephone"
              [formControl]="nameFormControl"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="nameFormControl.hasError('required')">
              Telephone is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <mat-form-field class="input-full-width">
            <input
              matInput
              placeholder="E-mail"
              [formControl]="nameFormControl"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="nameFormControl.hasError('required')">
              E-mail is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Delivery</h2>
      <div class="form-row">
        <div class="col">
          <mat-form-field class="input-full-width">
            <input
              matInput
              placeholder="Address"
              [formControl]="nameFormControl"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="nameFormControl.hasError('required')">
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <mat-form-field class="input-full-width">
            <input
              matInput
              placeholder="Flat / Office"
              [formControl]="nameFormControl"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="nameFormControl.hasError('required')">
              Flat or office is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="input-full-width">
            <input
              matInput
              placeholder="Floor"
              [formControl]="nameFormControl"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Payment</h2>
      <div class="form-group">
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button class="radio-item" value="cash"
            >Cash</mat-radio-button
          >
          <mat-radio-button class="radio-item" value="card"
            >Card</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div class="form-group">
        <mat-form-field class="input-full-width">
          <textarea matInput placeholder="Add order comments"></textarea>
        </mat-form-field>
      </div>
      <div class="form-group w-100 d-inline-flex justify-content-between">
        <div>
          <span class="form-control__label">I agree to receive </span>
          <div class="form-check-inline">
            <mat-checkbox value="subscription-sms">SMS</mat-checkbox>
          </div>
          <div class="form-check form-check-inline">
            <mat-checkbox value="subscription-emails">Email</mat-checkbox>
          </div>
        </div>
        <main-button
          [text]="'ORDER'"
          [isForm]="true"
          (formSubmitEvent)="submitOrder(checkoutForm)"
        ></main-button>
      </div>
    </div>
  </div>
</form>
