h2
  color: red

.item-card__container

  width: 18rem
  position: relative

.item-card__body
  display: flex
  justify-content: center

.item-card__modal-button
  position: absolute
  right: 10px
  top: 10px
  display: flex
  justify-content: right
  align-content: center
  padding: 0.5rem 0.6rem
  text-align: center
  vertical-align: middle
  border-radius: 50%
  background: #fff
  border: 2px solid #ECECEC
  box-sizing: border-box

  &:focus
    outline: none

  & span 
    color: #3B8686
    line-height: 1.2