$text-color: #5C3D45

h2
  color: red

.container
  position: relative
  width: 18rem
  height: 100%

.body
  display: flex
  justify-content: center
  flex-wrap: wrap

.row
  width: 100%

.picture
  width: 200px
  height: 200px
  margin-bottom: 1rem

.title
  font-size: 1.5rem
  font-weight: bold
  color: $text-color

.description
  font-size: 0.9rem
  color: $text-color

.modal-button
  position: absolute
  right: 10px
  top: 10px
  display: flex
  justify-content: right
  align-content: center
  padding: 0.5rem 0.6rem
  text-align: center
  vertical-align: middle
  border-radius: 50%
  background: #fff
  border: 2px solid #ECECEC
  box-sizing: border-box

  &:focus
    outline: none

  & span 
    color: #3B8686
    line-height: 1.2

.radio-group__thickness
  width: 100%

.radio-group__diameter
  div &
    display: flex
    justify-content: space-between
