<div class="card container">
  <div class="card-body body">
    <button class="modal-button" (click)="toggleCardModal()">
      <span class="oi oi-grid-three-up"></span>
    </button>
    <img class="picture" src="{{ pizza.pictureUrl }}" alt="{{ pizza.title }}" />
    <div class="row">
      <div class="persons-icon">
        <span class="oi oi-person"></span>
        <span>{{ personsAmount.min }}-{{ personsAmount.max }}</span>
      </div>
    </div>
    <div class="row">
      <h2 class="title">{{ pizza.title }}</h2>
    </div>
    <div class="row">
      <p class="description">{{ pizza.description }}</p>
    </div>
    <div class="row">
      <radio-group-button
        class="radio-group__thickness"
        [options]="thicknessOptions"
        [value]="thicknessSelected"
        (changeEvent)="changeThickness($event)"
      ></radio-group-button>
    </div>
    <div class="row justify-content-between">
      <radio-group-button
        class="radio-group__diameter"
        [options]="diameterOptions"
        [value]="diameterSelected.toString()"
        (changeEvent)="changeDiameter($event)"
      ></radio-group-button>
      <radio-button
        *ngIf="displayCheeseBoard"
        (click)="toggleCheeseBoard()"
        [isSelected]="withCheeseBoard"
      ></radio-button>
    </div>
    <div *ngIf="isModalOpen" class="row">
      <item-card-modal
        (toggle)="toggleCardModal()"
        [ingredients]="pizza.ingredients"
      ></item-card-modal>
    </div>
    <div class="row justify-content-between align-items-center">
      <add-button></add-button>
      <div class="total-price">
        <span>{{ pizzaPrice }}</span>
        $
      </div>
    </div>
  </div>
</div>
